{% extends "purl-voc2_en.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn vocabularium in.</p>
<p>Link to application profile: <a href="https://purl.eu/doc/applicationprofile/Consent/ontwerpstandaard/2022-01-21">https://purl.eu/doc/applicationprofile/Consent/ontwerpstandaard/2022-01-21</a></p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
