{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>This application profile explains how terminology about consent should be used. By consent we mean the consent that is required from a person to process his personal data.</p>
<p>Almost all the necessary terms come from an existing ontology about processing personal data, namely the <a href=” https://www.w3id.org/dpv”>Data Privacy Ontology</a> (DPV). Some additional terms were also defined as can be seen in the vocabulary associated with this application profile. </p>
<p>Although DPV is broader and also considers other legal bases, it pays special attention to consent given the importance of this concept when exchanging personal data. </p>
<p>The terminology in DPV is largely based on that in the GDPR but would allow for other similar legislation. See <a href=” https://www.w3id.org/dpv/dpv-gdpr”>DPV-GDPR</a> for further restriction to GDPR concepts. </p>
<p>This profile was developed as part of <a href=” https://trapeze-project.eu/”>TRAPEZE</a>, a project financed by the European Commission to provide citizens with tools to manage their security and privacy. This concurs with the objective of the <a href=” https://solidproject.org/”>Solid</a> project to which Digital Flanders contributes and which aims to give citizens back the ownership of their personal data. Hence the need to semantically model consent. </p>
<p>The application profile combines two versions of DPV: the <a href=”https://www.w3id.org/dpv/dpv-owl”>OWL-version</a> for classes, attributes and associations and the <a href=” https://www.w3id.org/dpv/dpv-skos”>SKOS-version</a> for enumerations. </p>
<p>The central class is, of course, Consent. </p>
<p>Consent is requested by a DataController for the Processing of PersonalData of a DataSubject. </p>
<p>For the Consent to be given, the DataSubject needs to be informed by a ConsentNotice of the Purpose and the kind of Processing that is involved. Consent can have a limited Duration. </p>
<p>The model involves a class PersonalDataHandling to group all aspects of the processing of the data for which the DataSubject should give his Consent. Apart from the kind of PersonalData, the Purpose and type of Processing and the DataProcessor and/or possible Recipient, the Risks involved and the Rights of the DataSubject can be documented, as well as the Technical or Organizational Measures that were taken to ensure the data privacy and security. </p>   
{% endblock %}
