{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>
The application profile Consent shows how terms out of the accompagnied vocabularium should be 
used to exchange and processing of personal data of a person who gave consent to do so.
</p>
<p>
This application profile is part of the TRAPEZE project. A project financed by the European Commission, 
that delivers a platform as a solution for organisations and citizens with some concrete objectives on security 
and privacy. It aims to bring stakeholders together under a common framework to provide citizens with the tools 
and know-how to manage their security and privacy. It wants to support consent mechanisms and checking that data 
is used in the right way. The aim is to restore citizens' trust in the digital economy by implementing log 
integrity, non-repudiation and building data lineage and transparency by design. Concrete applications that must 
prove their usefulness are worked out for three domains: government, telecom and the financial sector.
</p>
<p>
Digital Flanders is working together with Solid who is working on the use of Pods to give citizens back their 
ownership of their personal data. In the light of this collaboration we tried to model consent for the use of personal 
data semantically. The model maximized the reuse and conformance to related international standars, such as DPV, 
GConsent, CCCEV, OSLO Generic etc.
</p>
<p>Link to vocabulary: <a href="https://purl.eu/doc/vocabulary/consent/ontwerpstandaard/2022-01-21">https://purl.eu/doc/vocabulary/consent/ontwerpstandaard/2022-01-21</a></p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
