{% extends "purl-voc2_en.j2" %}

{% block summary %}
<p>The vocabulary defines the entities and properties which are being used to give consent to exchange and 
handle personal data. This vocabulary is linked to the similarly named applicationprofile.</p>
<p>Link to application profile: <a href="https://purl.eu/doc/applicationprofile/Consent/ontwerpstandaard/2022-01-21">https://purl.eu/doc/applicationprofile/Consent/ontwerpstandaard/2022-01-21</a></p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
